.whatsapp-button {
display: flex;
align-items: center;
justify-content: flex-start;
width: 45px;
height: 45px;
border: none;
border-radius: 50%;
cursor: pointer;
position: fixed;
bottom: 30px;
left: 20px;
overflow: hidden;
transition-duration: 0.3s;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
background-color: #00d757;
z-index: 10000;
}

.whatsapp-sign {
width: 100%;
transition-duration: 0.3s;
display: flex;
align-items: center;
justify-content: center;
}

.whatsapp-icon {
width: 25px;
fill: white;
}

.whatsapp-text {
position: absolute;
right: 0%;
width: 0%;
opacity: 0;
color: white;
font-size: 1.2em;
font-weight: 600;
transition-duration: 0.3s;
}

.whatsapp-button:hover {
width: 150px;
border-radius: 40px;
transition-duration: 0.3s;
}

.whatsapp-button:hover .whatsapp-sign {
width: 30%;
transition-duration: 0.3s;
padding-left: 10px;
}

.whatsapp-button:hover .whatsapp-text {
opacity: 1;
width: 70%;
transition-duration: 0.3s;
padding-right: 10px;
}

.whatsapp-button:active {
transform: translate(2px, 2px);
}
